<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="PropData" connectionString="Server=tcp:198.71.225.113,1433;Initial Catalog=PublicPropManage;Persist Security Info=False;User ID=happycats;Password=happycats123;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="LocalData" connectionString="Server=Laptop-brte3p3r;Initial Catalog=PropManage;Persist Security Info=True;User ID=happycats; Password=happycats123" providerName="System.Data.SqlClient"/>
    <add name="LocalPropManageEntities" connectionString="metadata=res://*/codeLogic.DataModels.PropData.csdl|res://*/codeLogic.DataModels.PropData.ssdl|res://*/codeLogic.DataModels.PropData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Laptop-brte3p3r;initial catalog=PropManage;persist security info=True;user id=happycats;password=happycats123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>