<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://simplymanage.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>simplymanage.net</MSDeployServiceURL>
    <DeployIisAppPath>simplymanage.net</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>delcarta</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LocalPropManageEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=198.71.225.113,1433;Initial Catalog=PublicPropManage;User ID=happycats;Password=happycats123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ManageProps.codeLogic.DataModels.LocalPropManageEntities, ManageProps" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LocalData" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Laptop-brte3p3r;Initial Catalog=PropManage;Persist Security Info=True;User ID=happycats;Password=happycats123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalData_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=Laptop-brte3p3r;Initial Catalog=PropManage;Persist Security Info=True;User ID=happycats; Password=happycats123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PropData" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:198.71.225.113,1433;Initial Catalog=PublicPropManage;Persist Security Info=False;User ID=happycats;Password=happycats123;Connect Timeout=30;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PropData_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:198.71.225.113,1433;Initial Catalog=PublicPropManage;Persist Security Info=False;User ID=happycats;Password=happycats123;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LocalData-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PropData-Web.config Connection String" />
    <MSDeployParameterValue Include="LocalPropManageEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/codeLogic.DataModels.PropData.csdl|res://*/codeLogic.DataModels.PropData.ssdl|res://*/codeLogic.DataModels.PropData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=198.71.225.113,1433;Initial Catalog=PublicPropManage;User ID=happycats;Password=happycats123"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>